<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">

<head>
    <title>Version Tracker - Tri par projet</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="module" th:src="@{/js/fold2.js}" /></script>
</head>

<body>
    <div class = container>

        <header>
            <div id="header">
                <div th:insert="fragments/components :: header"></div>
            </div>
        </header>

        <nav>
            <div th:insert="fragments/components :: menu"></div>
        </nav>

        <main>
            <div id="annonce">
                <p>
                    Liste des dépendances triées par projet :
                </p>
            </div>

            <div id="results">
                <div th:each="projet:${listDependencies.keySet}">
                    <table>
                        <!--<caption>Liste des dépendances triées par projet</caption>-->
                        <thead>
                            <tr>
                                <th th:text="${projet}" th:id="${projet}"></th>
                                <th th:each="appli:${listFileApplications}" th:id="${appli.fileApplicationName}" th:text=${appli.fileApplicationName}></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="dep:${listDependencies.get(projet).keySet}">
                                <td th:text="${dep}"></td>
                                <td th:each="appli:${listFileApplications}"
                                    th:text=${listDependencies.get(projet).get(dep).getOrDefault(appli.fileApplicationName,"N/A")}>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br/>
                </div>
            </div>

            <br>

        </main>

        <footer>
            <div th:insert="fragments/components :: footer"></div>
        </footer>
    </div>
</body>
</html>