<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{  /css/index.css}" />
</head>

<body>
    <div class = container>
        <header>
            <div id="header">
                <div th:insert="fragments/components :: header"></div>
            </div>
        </header>

        <nav>
            <div th:insert="fragments/components :: menu"></div>
        </nav>

        <aside>

            <p>
                listDependenciesFront - listDependency
            </p>
            <ul>
                <li th:each="listDependency: ${listDependenciesFront}" th:text="${listDependency}"></li>
            </ul>
            <br>
            <p>
                listDependenciesBack - listDependency
            </p>
            <ul>
                <li th:each="listDependency: ${listDependenciesBack}" th:text="${listDependency}"></li>
            </ul>
            <br>
            <p>Test</p>
            <ul th:each="listDependency: ${listDependenciesFront}" >
                    <li th:each="version:${listDependency}" th:text="${version}">pop</li>

            </ul>

            <br><br>

            <table>
                <thead> <!--en tête tableau-->
                    <tr>
                        <th>frontEnd</th>
                        <th th:each="appli:${listFileApplications}" th:text=${appli.fileApplicationName}></th>
                    </tr>
                </thead>
                <tbody> <!--contenu tableau-->
                    <tr th:each="dep:${listDependenciesFront.keySet}">
                        <td th:text="${dep}"></td>
                        <td th:each="appli:${listFileApplications}" th:text=${listDependenciesFront.get(dep).getOrDefault(appli,"")}></td>

                    </tr>
                </tbody>
            </table>

            <br>

        </aside>

        <footer>
            <div th:insert="fragments/components :: footer"></div>
        </footer>
    </div>
</body>
</html>